<div class="pin-list-page container-fluid px-4">
    <!-- Page title section -->
    <div class="row my-2">
        <div class="col-12">
            <div class="page-title pt-3">
                <h4 class="pageTitleName">Pin List</h4>
            </div>
        </div>
    </div>
    <!-- Add button section -->
    <div class="row my-3">
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn add-btn mt-2 me-3" (click)="openModal('add-pin')">
                <span class="me-1 me-md-2">+</span>
                Add Pin
            </button>
            <button type="button" class="btn add-btn mt-2" (click)="openModal('add-customer')">
                <span class="me-1 me-md-2">+</span>
                Add Customer
            </button>
        </div>
    </div>

    <!-- Table view section -->
    <div class="pinListTable mt-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Title</th>
                                <th scope="col" class="text-center">Image</th>
                                <th scope="col" class="text-center">Collaboratory</th>
                                <th scope="col" class="text-center">Privacy</th>
                            </tr>
                        </thead>
                        <!-- Table body if data found -->
                        <tbody *ngIf="pinList?.length > 0">
                            <tr class="pin-list-table-body-row" *ngFor="let data of pinList">
                                <td class="text-center pin-title-td">{{data.title}}</td>
                                <td class="text-center">
                                    <img [src]="data?.image?.url" alt="image" class="img-fluid pin-image">
                                </td>
                                <td class="collaborator-name-td text-center">
                                    <p class="collaborator-name" *ngFor="let customer of data?.collaborators">
                                        {{customer}}
                                    </p>
                                </td>
                                <td class="text-center">{{data.privacy}}</td>
                            </tr>
                        </tbody>
                        <!-- Table body if no data found -->
                        <tbody *ngIf="pinList?.length == 0">
                            <tr>
                                <td class="text-center" colspan="4">
                                    <p class="mb-0 py-4">No Data Found</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>